name: Deploy Development Build

# Trigger on push to "development" branch
on:
  push:
    branches:
      - development
    paths:
      - .github/**
      - files/**
      - Dockerfile

jobs:
  build_deploy_to_registry:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Enable multi-architecture support on build node
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest

      - name: Docker login
        uses: docker/login-action@v1
        with:
          username: ${{secrets.REGISTRY_USERNAME}}
          password: ${{secrets.REGISTRY_PASSWORD}}

      - name: Build + Push image ("development")
        run: |
          docker buildx build \
            --platform "linux/arm/v7,linux/arm64" \
            --tag "${{secrets.REGISTRY_USERNAME}}/nexus3:development" \
            --output "type=image,push=true" \
            --file ./Dockerfile .
